@import "variables";
@import "bucles";
@import "maps";
 

body{
    background-color: $colorFondo;
    min-height: 100vh;
}
footer{
    width: 100%;
    background-color: $color-nav-footer;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.footer{
    margin-top: 30px;

}

.btn-primary{
    justify-content: center;
    background-color: blueviolet;
    border-color: blueviolet;
    transition: all 0.2s ease-in-out;
    margin-left: 90px;

}
.btn-primary:hover{
    background-color: blueviolet;
    border-color: blueviolet;
    transform: scale(0.8);

}
.bi-facebook{
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.bi-facebook:hover{
    color: rgb(113, 113, 233);
}
.bi-whatsapp{
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.bi-whatsapp:hover{
    color: greenyellow;
}
.bi-instagram:hover{

color: palevioletred;
}
.bi-instagram{
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.textarea-centro{
    align-items: center;
}
section{
   background-color:$colorFondo;
   h1{
    color: salmon;
    font-family: 'Times New Roman', Times, serif;

   }

   h5{
    color:$color-nav-footer;
   }
   p{
    color: $colorFondo;
   }
}
nav{
    color: salmon;
    background-color: $color-nav-footer; 
    div{
        button{
            color: salmon;

    }
        li{
            color:darkblue;

        }
        a{
            color: salmon;
            
        }
    }
}
.card-body{
    background-color: $color-nav-footer;
    h5{
        color: salmon;
        font-family: 'Times New Roman', Times, serif;
        font-size: $tam-fuente;
        text-align: center;
    }

}
.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $tam-fuente;
    text-align: center;
}